ul {
    position: absolute;
    background: blue;
    color: white;
    padding-left: 0;
}

li {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}

li:hover {
    background: dodgerblue;

}

li:hover>ul {
    display: block;
    margin-left: -10px;
}

ul ul {
    display: none;
    margin: 0;
    width: 100%;
}

ul ul ul{
    left: 100%;
    margin-left: 0!important;
    top: 0%;
}
